.main-nav {

  $block-name:                &; // #{$block-name}__element

  margin-top: 16px;

  @media (min-width: $screen-xl) {
    margin-top: 0;
  }

  &__list {

    @media (min-width: $screen-md) {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: flex-end;
    }
  }

  &__item {
    margin: 0;

    &.active {

      #{$block-name}__link {
        color: $btn-bg--active;
      }
    }

    & + & {
      margin-top: 8px;

      @media (min-width: $screen-md) {
        margin-top: 0;
        margin-left: 8px;
      }
    }
  }

  &__link {
    display: block;
    padding: 7px;
    font-weight: 500;
    text-decoration: none;
    text-align: center;
    color: $title-color;

    @media (min-width: $screen-md) {
      padding-left: 16px;
      padding-right: 16px;
    }

    &:hover,
    &:focus {
      text-decoration: none;
    }
  }
}
