table,
.table {

  $block-name:                &; // #{$block-name}__element

  border-collapse: collapse;
  width: 100%;
  border: 1px solid $body-bg;
  margin: 24px 0;

  caption {
    text-align: left;
    padding: 0.4em;
    border-bottom: 1px solid $body-bg;
    font-size: $font-size-sm;
    line-height: 1.2em;
    color: $text-muted;
    caption-side: top;
  }

  td,
  th {
    padding: 8px 12px;
    vertical-align: top;
    text-align: center;
    border-bottom: 1px solid $body-bg;

    &:not(:first-child) {
      border-left: 1px solid $body-bg;
    }
  }

  th {
    font-weight: 500;
    color: $title-color;
  }
}
