.field-actions {

  $block-name:                &; // #{$block-name}__element

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-top: $line-height;
  //margin-bottom: ($line-height / 2);

  .btn {
    //margin-bottom: ($line-height / 2);
  }

  .loader {
    margin-left: 24px;
  }

  &__text {
    flex: 1 1 100%;
    display: block;
    margin-bottom: 16px;
    font-size: $font-size-sm;
    color: $text-muted;
    line-height: 1.2em;
  }
}
