.breadcrumbs {
  padding-top: 20px;
  padding-bottom: 20px;

  @media (min-width: $screen-md) {
    padding-top: 36px;
    padding-bottom: 36px;
  }

  @media (min-width: $screen-xl) {
    padding-top: 44px;
    padding-bottom: 44px;
  }

  $block-name:                &;
  // #{$block-name}__element

  &__col {
    @include col(xs, 12, $grid-columns, 32px);
    @include col(md, 12);

    &--narrow {
      @include col-offset(md, 1);
      @include col(md, 10);
      @include col-offset(xl, 0);
      @include col(xl, 12);
    }
  }

  &__list {
    display: inline-flex;
    flex-wrap: wrap;
    align-items: center;
  }


  &__item {
    display: inline-block;
    vertical-align: baseline;
    max-width: 100%;
    margin-right: 11px;
    margin-bottom: 0.5em;
    overflow: hidden;
    text-overflow: ellipsis;

    @media (min-width: $screen-md) {
      margin-bottom: 0;
    }

    &:not(:last-child)::after {
      content: '';
      display: inline-block;
      vertical-align: middle;
      width: 12px;
      height: 12px;
      margin-left: 10px;
      //font-weight: 400;
      color: $text-muted;
      background-color: transparent;
      background-repeat: no-repeat;
      background-position: center;
      background-size: 11px;
      background-image: svg-load('../blocks/sprite-svg/svg/arrow-right.svg', fill=$text-color);
    }

    &:last-child {

      #{$block-name}__link {
        text-decoration: none;
        color: $title-color;
      }
    }
  }

  &__link {
    max-width: 100%;
    font-size: 14px;
    font-weight: 400;
    color: $text-color;
    text-decoration: none;
    white-space: nowrap;

    &:hover,
    &:focus {
      color: $link-color--hover;
      text-decoration: none;
    }
  }
}
