.lang-switcher {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;

  @media (min-width: $screen-md) {
    display: inline-flex;
    //max-width: 90px;
  }

  $block-name:                &; // #{$block-name}__element

  .dropdown-toggle {

    &::after {
      display: none;
    }
  }

  .dropdown-menu {
    min-width: 48px;
    padding-bottom: 0;
    border-radius: $border-radius;

    &.show {
      top: 40px;
    }

    li {
      margin: 0;

      &.active {

        .dropdown-item {
          color: $main-color;
        }
      }
    }

    li + li {
      margin-top: 8px;
    }
  }

  .dropdown-item {
    padding: 6px 8px;
    font-family: $font-family;
    font-size: $font-size;
    font-weight: 500;
    text-align: center;
    color: inherit;

    &:hover,
    &:focus {
      text-decoration: none;
      color: $main-color;
      background-color: $block-bg;
    }
  }
}
