.logo {

  $block-name:                &; // #{$block-name}__element

  display: block;
  white-space: nowrap;
  width: 130px;
  height: 48px;

  @media (min-width: $screen-xl) {
    width: 280px;
    height: 104px;
  }
}
