.user-account-ads {

  $block-name:                &; // #{$block-name}__element

  padding: 24px 16px;
  background-color: $white;
  border-radius: $border-radius--xl;

  @media (min-width: $screen-md) {
    padding: 24px;
  }

  @media (min-width: $screen-xl) {
    position: sticky;
    top: 160px;
  }

  &__item {
    padding: 16px;
    margin-top: 0;
    margin-bottom: 16px;
    background-color: $block-bg;
    border-radius: $border-radius--lg;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__inner {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: space-between;
    margin-bottom: 4px;
    font-size: 12px;
    font-weight: 500;
    color: $title-color;

    & > * {
      font-size: inherit;
      font-weight: inherit;
    }
  }

  &__event-name {
    display: block;
  }

  &__descr {
    display: block;
    margin-top: 0;
    font-weight: 500;
    font-size: $font-size-sm;
  }

  &--nosticky {
    position: static !important;
  }
}
