.contacts {

  $block-name:                &; // #{$block-name}__element

  &__header-col {
    @include col(xs, 12, $grid-columns, 0);
    @include col-offset(md, 1);
    @include col(md, 10);
    @include col-offset(xl, 0);
    @include col(xl, 12);
    margin-bottom: 24px;
  }

  &__form-col,
  &__region-col {
    @include col(xs, 12, $grid-columns, 0);
    @include col-offset(md, 1);
    @include col(md, 10);
    @include col-offset(xl, 0);
    @include col(xl, 6);
    margin-bottom: 24px;
  }

  &__form-col {

    @media (max-width: $screen-xl - 1) {
    }
  }

  &__info-col {
    @include col(xs, 12, $grid-columns, 0);
    @include col-offset(md, 1);
    @include col(md, 10);
    @include col-offset(xl, 0);
    @include col(xl, 12);
  }

  &__form-wrapper,
  &__info,
  &__region,
  &__press {
    padding: 24px 16px;
    background-color: $white;
    border-radius: $border-radius--xl;

    @media (min-width: $screen-md) {
      padding: 36px;
    }
  }

  &__form-wrapper,
  &__info,
  &__region-wrapper {
    height: 100%;
  }

  &__form-title {
    margin-top: 0;
  }

  &__region-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__region {
    flex: 1 1 auto;
    margin-bottom: 24px;
  }

  &__press {
    flex: 0 1 auto;
  }

  &__region-list {
    overflow-x: auto;
  }

  &__region-item {
    margin-top: 0 !important;
    margin-bottom: 16px;

    &:last-child {
      margin-bottom: 0;
    }

    a {
      display: inline-block;
      vertical-align: baseline;
      padding: 8px 0;
      //font-size: 15px;
      font-weight: 500;
      color: $title-color;
    }

    p {
      margin-top: 0 !important;
      margin-bottom: 8px;

      &:last-child {
        margin-bottom: 0;
      }

      &:not(#{$block-name}__cap) {
        font-size: 15px;
      }
    }

    &--xl-half {
      @include col(xs, 12, $grid-columns, 0);
      @include col(md, 12);
      @include col(xl, 6);
    }
  }

  &__link-wrapper {
    display: flex;
    align-items: center;
  }

  &__link-dash {
    margin-left: 16px;
    white-space: nowrap;

    &::before {
      display: inline-block;
      vertical-align: middle;
      content: "—";
      margin-right: 16px;
    }
  }

  &__caption {
    display: inline-flex;
    align-items: center;
    min-width: 128px;
    white-space: nowrap;

    svg {
      width: 24px;
      height: 24px;
      margin-right: 8px;
      fill: $title-color;
    }
    /* @media (max-width: 412px - 1) {
      font-size: 0;
      color: $white;
    } */
  }

  .form-reg__agreement {
    margin-bottom: 0;
  }
}
