.pie-chart {
  display: flex;
  align-items: center;
  margin: 0;
  // width: 100%;
  // height: 500px;

  $block-name:                &; // #{$block-name}__element

  &__img {
    flex: 0 0 128px;
  }

  &__descr {
    flex: 0 1 auto; // 138
    margin-left: 12px;
    font-weight: 500;
  }
}
