.close {

  $block-name:                &; // #{$block-name}__element

  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  width: 40px;
  height: 40px;
  padding: 8px;
  color: $toggler-part-bg-color;
  background-color: $white;
  border-radius: $border-radius;
  border: 1px solid $btn-bg--disabled;
  user-select: none;
  cursor: pointer;
  transition: all $transition-time;

  &:hover,
  &:focus {
    color: $color-danger;
    //border-color: currentColor;
  }

  > span {
    display: inline-block;
    width: 100%;
    height: $toggler-part-height;
    background: transparent;
    position: relative;

    &:before,
    &:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: $toggler-part-height;
      background-color: currentColor;
      transform-origin: 50% 50%;
    }

    &:before {
      transform: rotate3d(0, 0, 1, 45deg);
    }

    &:after {
      transform: rotate3d(0, 0, 1, -45deg);
    }
  }
}
