.no-records {

  $block-name:                &; // #{$block-name}__element

  &__alert {
    margin-bottom: 50px;
    font-weight: 500;
  }

  &__img {
    width: 175px;
    height: 322px;
    margin: 0 auto;

    @media (min-width: $screen-md) {
      width: 218px;
      height: 401px;
    }

    img {
      display: block;
      width: 100%;
    }
  }
}
