.form {

  $block-name:                &; // #{$block-name}__element

  &__fieldset {
    min-width: 0;
    padding: 0;
    margin: 0;
    border: 0;

    &:not(:last-child) {
      margin-bottom: $line-height;
    }
  }

  &__legend {
    display: block;
    width: 100%;
    margin-top: $line-height;
    margin-bottom: 0.5em;
    font-size: $font-size;
    font-family: $font-family;
    font-weight: 700;
    line-height: $line-height;
    color: currentColor;
  }

  &--search {
    transform: translateY(-70px);

    @media (min-width: $screen-md) {
      transform: translateY(-80px);
    }
  }

  &__search-input {
    width: 100%;
    font-size: 48px;
    font-family: inherit;
    text-align: center;
    line-height: $line-height;
    color: $text-muted;
    border: none;
    appearance: textfield;

    @media (min-width: $screen-md) {
      font-size: 64px;
    }

    &:hover,
    &:focus {
      color: $title-color;
      outline: none;
    }
  }

  &__group {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;

      & > * {
        margin-bottom: 0;
      }
  }
}
